@media screen and (max-width: 420px){
    body{
        font-size: 15px;
        margin: 0px;
    }

    .container{
        width: 420px;
    }

    .row{
        width: 100%;
        margin-top: 0px;
    }

    img{
        height: 85px;
    }

    #lezioni{
        background-color: #e5f78480;
    }

    #lezioni .row>.left,
    #lezioni .row>.right {
        width: 95%;
        float: none;
        margin: 0 auto 70px auto;
    }

    #lezioni h1{
        margin-top: 0px;
    }
}