@media screen and (max-width: 420px){
    body{
        font-size: 15px;
        margin: 0px;
    }

    .container{
        width: 420px;
    }

    .row{
        width: 100%;
    }

    img{
        height: 85px;
    }

    #lezioni h1{
        margin-top: 0px;
    }
}